.tareaContenedor
{
  width: 500px;
  min-height: 65px;
  background: #1d252c;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid #3d4953;
  border-radius: 8px;
  cursor: pointer;
}

.outerContainer
{
  display: flex;
  flex-direction: column;
  background: #13181D;
  width: 600px;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  align-items: flex-start;
  border: 0.1px solid #3d4953;
  border-radius: 8px;
}


.tareaTexto
{
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;

}

.tareaicono
{
  width: 25px;
  height: 25px;
  margin: 5px;
}

.tareaContenedor.completada
{
  background-color: green;
  text-decoration: line-through;
}