*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body
{
  color: white;
  background: #1d252c;
  font-family: Latto, sans-serif;
  margin-top: 40px;

}

a
{
  text-decoration: none;
  color: white;
}

a:hover
{
  color: darkred;
}

.App
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.titulo
{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}


.listaPrincipal
{
  width: 600px;
  min-height: 500px;
  background: #161C21;
  padding: 25px;
  margin: 10px;
  border: 0.1px solid #3d4953;
  border-radius: 8px;
}

.tituloTareas
{
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 20px 0;
}